# .coveragerc to control coverage.py
[run]
branch = True
omit = */pages/*
        src/app_visualization/app.py
        *__init__.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    plot
    create_dataframe_to_plot_the_number_of_delay_sorted_per_nb_of_flight_per_feature_chosen
    main

ignore_errors = True
